<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.servicesaroundme">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ServicesAroundMe">
        <activity android:name=".UtilityFunctions.testActivity"></activity>
        <activity android:name=".MyAccount.userAccountActivity" />
        <activity android:name=".OrderPurchases.ordersActivity" />
        <activity android:name=".ServiceCatalogue.serviceCatalogueActivity" />
        <activity android:name=".QuotesMgmt.quotesActivity" />
        <activity android:name=".PreferencesUserMgmt.preferencesActivity" />
        <activity android:name=".Inbox.inboxActivity" />
        <activity android:name=".Help.helpActivity" />
        <activity android:name=".Feedback.feedbackActivity" />
        <activity android:name=".Favourites.favouritesActivity" />
        <activity android:name=".CoreCapabilities.homeActivity" />
        <activity android:name=".MyAccount.loginRegisterationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>